<div class="product-container">
    <h2>Products</h2>

    <div class="filters">
        <select [ngModel]="filterCategory()" (ngModelChange)="filterCategory.set($event)">
            <option value="">All Categories</option>
            @for (category of categories(); track category) {
            <option [value]="category">{{ category }}</option>
            }
        </select>

        <select [ngModel]="sortOrder()" (ngModelChange)="sortOrder.set($event)">
            <option value="">Sort by Price</option>
            <option value="asc">Price: Low to High</option>
            <option value="desc">Price: High to Low</option>
        </select>
    </div>

    <div class="product-grid">
        @for (product of filteredProducts(); track product.id) {
         <a [routerLink]="['/products/', product.id]"  class="product-card-link">
            <div class="product-card">
                <img [src]="product.image" [alt]="product.title" class="product-image">
                <div class="product-info">
                    <h3 class="product-title" [title]="product.title">{{ product.title }}</h3>
                    <p class="product-category">{{ product.category }}</p>
                    <div class="product-footer">
                        <span class="product-price">${{ product.price }}</span>
                        <button class="add-btn" (click)="$event.preventDefault(); $event.stopPropagation(); addToCart(product)">Add</button>
                    </div>
                </div>
            </div>
        </a>
        }

    </div>
</div>